{
  "env": {
    "browser": true,
    "es6": true,
    "node": true
  },

  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    }
  },

  "ignorePatterns": ["*.md"],
  "extends": [
    "eslint:recommend",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended"
  ],
  "plugins": ["react", "@typescript-eslint"],
  "parser": "@typescript-eslint/parser",
  "root": true
}
